*{
    padding: 0;
    margin: 0;
    font-family:Arial,Verdana,Geneva,sans-seri,Timeshiragino sans gb,microsoft yahei,simsun;/*改动*/
    font-size: 16px;
}
body{
    width: 100%;
}
.content{
    width: 100%;
}
.title{
    width: 100%;
    background-color: black;
    height: 50px;
}
.title div{
    width: 65px;
    position: relative;
    margin: 0 auto;
}
.title span{
    color: #fff;
    font-weight: 700;
    line-height: 50px;
}
.main{
    width: 100%;
    margin-bottom: 30px;
}
.main-form{
    width: 90%;
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
}
.form-body{
    width: 100%;
}
.time{
    font-size: 20px;
    font-weight: 600;
    color: #0066FF;
}
.main input{
    margin-top: 24px;
    /*margin-left: 20px;*/
}
.div-width{
    width: 40%;
    float: left;
    margin-left: 20px;
}
.damage{
    clear: both;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    color: #0066FF;
}
.da-title{
    width: 80%;
    margin-top: 20px;
    margin-left: 20px;
}
.main-left{
    margin-left: 20px;
}
.describe{
    width: 100%;
    /*position: relative;*/
    /*margin: 0 auto;*/
    text-align: center;
}
.describe-button{
    padding: 5px 50px;
}
.exit{
    position: absolute;
    margin-top: -18px;
    right: 10%;
}
.exit a{
    text-decoration: underline;
    color: #000;
}