<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no">
    <title>图书漂流</title>
</head>
<div>
    <div style="text-align: center"><h2>{$BookInfo.title}</h2></div>
    <div style="text-align: center"><img src="{$BookInfo.image}"></div>
    <h3>作者简介</h3>
    <hr>
    <h4>{$BookInfo.author_intro}</h4>
    <h3>内容简介</h3>
    <hr>
    <h4>{$BookInfo.summary}</h4>
    <h3>图书目录</h3>
    <hr>
    <h4>{$BookInfo.catalog}</h4>
    <br>
    <h3>您可能感兴趣的书</h3>
    <br>
    <h4>您的分享记录</h4>
</div>
</body>
</html>